.navbar {
  margin-top: 22px;
  margin-bottom: 45px;
  width: 100%;
}
.navbar .logo {
  font-weight: 700;
}

.navbar .navlinks {
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
}

.navbar .navlinks li {
  margin-left: 33px;
}
